label{
    display: block;
    width: 100%;
    margin-bottom: 0.2em;
}
#ticket{
    text-align: center;
    display: none;
    font-style: italic;
}
#top{
    height: 7em;
    text-align: center;
    border-bottom: rgba(0, 115, 255, 0.648) 10px solid;
    background-color: rgba(11, 152, 100, 0.674);
    padding-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

#admin {
    text-align: center;
    border-bottom:  rgba(0, 115, 255, 0.648) 10px solid;
    background-color: rgba(11, 152, 100, 0.674);
}

a{
    color: black;
    text-decoration: none;
    margin-right: 0.5em;
}
a:hover{
    color: rgb(48, 48, 48);
}
.nameLab{
    display: inline-block;
    width: 49%;
}
.names{
    display: inline-block;
    width: 44.5%;
}
.nameErr{
    display: inline-block;
    width: 45%;
}
.names:nth-last-of-type(){
    margin-left: 1em;
}
span{
    display: inline-block;
    width: 110%;
}
input, textarea{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.2em;
}
#btnSub{
    display: block;
    width: 102%;
    background-color: rgba(0, 115, 255, 0.648) 3px solid;
    border: 1px solid  rgba(0, 115, 255, 0.648) 3px solid;
    color: white;
    font-weight: bold;
}

.errors {
    display: none;
    color: red;
}
form{
    width: 70%;
    padding: 2em 2em;
    margin: 0 auto;
    background-color: rgba(45, 134, 101, 0.211);
    border:  rgba(0, 115, 255, 0.648) 3px solid;
    border-radius: 1em;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#table {
    width: 90%;
    padding: 2em 2em;
    margin: 0 auto;
    border:  rgba(0, 115, 255, 0.648) 3px solid;
    background-color: rgba(45, 134, 101, 0.211);
    border-radius: 1em;
}
