label{
    display: block;
    width: 100%;
    margin-bottom: 0.2em;
}
#ticket{
    text-align: center;
    display: none;
    font-style: italic;
}

#_311 {
    text-decoration: underline;
    display: inline;

}

#top img {
    margin-top: 1em;
    float: left;
    height: 100px;
    margin-left: 1em;
}
  
#top h1 {
    position: relative;
    top: 18px;
    left: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding-top: 10px;
    margin-right: 3.1em;
}
.admintop{
    margin-bottom: 1em;
}
#top{
    margin-bottom: 0;
    text-align: center;
    /*border-bottom: rgba(0, 115, 255, 0.648) 10px solid;*/
    background-color:  #004a7fd8/*rgba(11, 152, 100, 0.674)*/;
    padding-top: 0;
    width: 100%;
    padding-bottom: 8px;
}

#formulaire {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    background-color:rgba(10, 103, 69, 0.799);
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
}


#admin {
    text-align: center;
    border-bottom:  rgba(0, 115, 255, 0.648) 10px solid;
    background-color: rgba(11, 152, 100, 0.674);
}

a{
    color: white;
    text-decoration: none;
    margin-right: 0.5em;
}
a:hover{
    color: rgb(48, 48, 48);
}
.nameLab{
    display: inline-block;
    width: 49%;
}
.names{
    display: inline-block;
    width: 44.5%;
}
.nameErr{
    display: inline-block;
    width: 45%;
}
.names:nth-last-of-type(){
    margin-left: 1em;
}
span{
    display: inline-block;
    width: 110%;
}
label:has(> input:checked) { background-color: #545b62; border-color: #4e555b; }
#piece{
    background-color: rgba(255, 255, 255, 0.801);
}
input, textarea{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.2em;
    border: black 1px solid;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 0.5em;
    padding-left: 0.5em;
}
#btnSub{
    display: block;
    width: 102%;
    background-color: rgba(0, 115, 255, 0.648) 3px solid;
    border: 1px solid  rgba(0, 115, 255, 0.648) 3px solid;
    color: white;
    font-weight: bold;
}

.errors {
    display: none;
    color: rgb(255, 104, 104);
}
form{
    width: 70%;
    padding: 2em 2em;
    margin: auto;
    background-color: #004a7f71;
    border:  rgba(0, 115, 255, 0.648) 3px solid;
    border-radius: 1em;
    backdrop-filter: blur(10px);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(bkg.jpeg);

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
}
#table {
    width: 90%;
    padding: 2em 2em;
    margin: 0 auto;
    border:  rgba(0, 115, 255, 0.648) 3px solid;
    background-color: rgba(75, 70, 70, 0.71);
    border-radius: 1em;
    color: white;
}
btn,
.btn {
    cursor: pointer;
}
@media screen and (max-width: 700px){
    #top h1{
        font-size: 2em;
        padding-bottom: 10px;
        padding-top: 0px;
    }
    #top img{
        display: none;
    }
}
@media screen and (max-width: 400px){
    #top h1{
        font-size: 1.5em;
        padding-top: 0px;
    }
}