body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(97, 91, 91, 0.5), rgba(71, 67, 67, 0.5)), url(bkg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

label {
    display: block;
    width: 100%;
    margin-bottom: 0.2em;
}

#ticket {
    text-align: center;
    display: none;
    font-style: italic;
    background-color: black;
    font-size: 1.5rem;
}

#_311 {
    text-decoration: underline;
    display: inline;
}

#top {
    text-align: center;
    background-color: #004a7fd8;
    padding-top: 0;
    width: 100%;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#top img {
    float: left;
    height: 100px;
    margin-top: 1em;
    margin-left: 1em;
}

#top h1 {
    font-weight: bold;
    padding-top: 10px;
}

#top.admintop {
    margin-bottom: 1em;
}


#formulaire {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    background-color: rgba(10, 103, 69, 0.799);
    padding: .3em;
    margin-bottom: 1em;
}


#admin {
    text-align: center;
    border-bottom: rgba(0, 115, 255, 0.648) 10px solid;
    background-color: rgba(11, 152, 100, 0.674);
}

a {
    color: white;
    text-decoration: none;
    margin-right: 0.5em;
}

a:hover,
a:focus {
    color: rgba(0, 115, 255, 1);
}

label:has(> input:checked) {
    background-color: #545b62;
    border-color: #4e555b;
}

.errors {
    display: none;
    color: rgb(255, 104, 104);
}

form {
    width: 70%;
    padding: 2em 2em;
    margin: auto;
    margin-bottom: 2rem;
    background-color: #004a7f71;
    border: rgba(0, 115, 255, 0.648) 3px solid;
    border-radius: .5em;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}

input {
    background: none;
    outline: thin solid white;
    border: none;
    border-radius: .25rem;
    height: 2rem;
    color: white;
}

input:focus {
    border-bottom-color: white;
}

#btnSub {
    font-weight: bolder;
    margin-top: 1rem;
    height: 2.5rem;
    width: 50%;
    margin-left: 25%;
    cursor: pointer;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}

#btnSub:hover,
#btnSub:focus {
    background-color: white;
    color: black;
    outline: thin solid black;
    outline-offset: -5px;
}

select {
    background: none;
    color: white;
    border: none;
    border-radius: .25rem;
    height: 2rem;
    width: 8rem;
    outline: thin solid white;
    padding-inline: 1rem;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.2em;
    outline: thin solid white;
    border: none;
    border-radius: 0.25em;
    padding-left: 0.5em;
    background: none;
    color: white;
    resize: vertical;
    height: 5rem;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.hcontainer > *{
    flex-basis: 100%;
}

#table {
    width: 90%;
    padding: 2em 2em;
    margin: 0 auto;
    border: rgba(0, 115, 255, 0.648) 3px solid;
    background-color: rgba(75, 70, 70, 0.71);
    border-radius: 1em;
    color: white;
    backdrop-filter: blur(12px);
}

btn {
    cursor: pointer;
}

.sep {
    background: none;
    width: 100%;
    height: .75rem;
}

@media screen and (max-width: 700px) {
    #top h1 {
        font-size: 2em;
        padding-bottom: 10px;
        padding-top: 0px;
    }

    #top img {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #top h1 {
        font-size: 1.5em;
        padding-top: 0px;
    }
}